# CHAPTER 3: Data transformation

### 3.1 Introduction
____

In [1]:
# Load the tidyverse package
library(tidyverse)
#> ── Attaching core tidyverse packages ───────────────────── tidyverse 2.0.0 ──
#> ✔ dplyr     1.1.4     ✔ readr     2.1.5
#> ✔ forcats   1.0.0     ✔ stringr   1.5.1
#> ✔ ggplot2   3.5.1     ✔ tibble    3.2.1
#> ✔ lubridate 1.9.3     ✔ tidyr     1.3.1
#> ✔ purrr     1.0.2
#> ── Conflicts ─────────────────────────────────────── tidyverse_conflicts() ──
#> ✖ dplyr::filter() masks stats::filter()
#> ✖ dplyr::lag()    masks stats::lag()
#> ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

-- Attaching core tidyverse packages ------------------------ tidyverse 2.0.0 --
v dplyr     1.1.4     v readr     2.1.5
v forcats   1.0.0     v stringr   1.5.1
v ggplot2   3.5.1     v tibble    3.2.1
v lubridate 1.9.3     v tidyr     1.3.1
v purrr     1.0.2
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
i Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
# Load the data, and view it.
library(nycflights13)
glimpse(flights)

Rows: 336,776
Columns: 19
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2~
$ month          <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1~
$ day            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1~
$ dep_time       <int> 517, 533, 542, 544, 554, 554, 555, 557, 557, 558, 558, ~
$ sched_dep_time <int> 515, 529, 540, 545, 600, 558, 600, 600, 600, 600, 600, ~
$ dep_delay      <dbl> 2, 4, 2, -1, -6, -4, -5, -3, -3, -2, -2, -2, -2, -2, -1~
$ arr_time       <int> 830, 850, 923, 1004, 812, 740, 913, 709, 838, 753, 849,~
$ sched_arr_time <int> 819, 830, 850, 1022, 837, 728, 854, 723, 846, 745, 851,~
$ arr_delay      <dbl> 11, 20, 33, -18, -25, 12, 19, -14, -8, 8, -2, -3, 7, -1~
$ carrier        <chr> "UA", "UA", "AA", "B6", "DL", "UA", "B6", "EV", "B6", "~
$ flight         <int> 1545, 1714, 1141, 725, 461, 1696, 507, 5708, 79, 301, 4~
$ tailnum        <chr> "N14228", "N24211", "N619AA", "N804JB", "N668DN", "N394~
$ origin         <chr> "EWR", "LGA", "JFK", "JFK", "LGA", "EWR", "EWR", "LGA",~
$ dest           <chr> "IAH", "IAH", "MIA", "BQN", "ATL", "ORD", "FLL", "IAD",~
$ air_time       <dbl> 227, 227, 160, 183, 116, 150, 158, 53, 140, 138, 149, 1~
$ distance       <dbl> 1400, 1416, 1089, 1576, 762, 719, 1065, 229, 944, 733, ~
$ hour           <dbl> 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6~
$ minute         <dbl> 15, 29, 40, 45, 0, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 59, 0~
$ time_hour      <dttm> 2013-01-01 05:00:00, 2013-01-01 05:00:00, 2013-01-01 0~

In [3]:
str(flights)

tibble [336,776 x 19] (S3: tbl_df/tbl/data.frame)
 $ year          : int [1:336776] 2013 2013 2013 2013 2013 2013 2013 2013 2013 2013 ...
 $ month         : int [1:336776] 1 1 1 1 1 1 1 1 1 1 ...
 $ day           : int [1:336776] 1 1 1 1 1 1 1 1 1 1 ...
 $ dep_time      : int [1:336776] 517 533 542 544 554 554 555 557 557 558 ...
 $ sched_dep_time: int [1:336776] 515 529 540 545 600 558 600 600 600 600 ...
 $ dep_delay     : num [1:336776] 2 4 2 -1 -6 -4 -5 -3 -3 -2 ...
 $ arr_time      : int [1:336776] 830 850 923 1004 812 740 913 709 838 753 ...
 $ sched_arr_time: int [1:336776] 819 830 850 1022 837 728 854 723 846 745 ...
 $ arr_delay     : num [1:336776] 11 20 33 -18 -25 12 19 -14 -8 8 ...
 $ carrier       : chr [1:336776] "UA" "UA" "AA" "B6" ...
 $ flight        : int [1:336776] 1545 1714 1141 725 461 1696 507 5708 79 301 ...
 $ tailnum       : chr [1:336776] "N14228" "N24211" "N619AA" "N804JB" ...
 $ origin        : chr [1:336776] "EWR" "LGA" "JFK" "JFK" ...
 $ dest          : chr [1:336776] "IAH" "IAH" "MIA" "BQN" ...
 $ air_time      : num [1:336776] 227 227 160 183 116 150 158 53 140 138 ...
 $ distance      : num [1:336776] 1400 1416 1089 1576 762 ...
 $ hour          : num [1:336776] 5 5 5 5 6 5 6 6 6 6 ...
 $ minute        : num [1:336776] 15 29 40 45 0 58 0 0 0 0 ...
 $ time_hour     : POSIXct[1:336776], format: "2013-01-01 05:00:00" "2013-01-01 05:00:00" ...

### 3.2 Using Row Function in dplyr’s 
_____

In [5]:
glimpse(flights)

Rows: 336,776
Columns: 19
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2…
$ month          <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ day            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ dep_time       <int> 517, 533, 542, 544, 554, 554, 555, 557, 557, 558, 558, 558, 558, 558, 559, 559,…
$ sched_dep_time <int> 515, 529, 540, 545, 600, 558, 600, 600, 600, 600, 600, 600, 600, 600, 600, 559,…
$ dep_delay      <dbl> 2, 4, 2, -1, -6, -4, -5, -3, -3, -2, -2, -2, -2, -2, -1, 0, -1, 0, 0, 1, -8, -3…
$ arr_time       <int> 830, 850, 923, 1004, 812, 740, 913, 709, 838, 753, 849, 853, 924, 923, 941, 702…
$ sched_arr_time <int> 819, 830, 850, 1022, 837, 728, 854, 723, 846, 745, 851, 856, 917, 937, 910, 706…
$ arr_delay      <dbl> 11, 20, 33, -18, -25, 12, 19, -14, -8, 8, -2, -3, 7, -14, 31, -4, -8, -7, 12, -…
$ carrier        <chr> "UA", "UA", "AA", "B6", "DL", "UA", "B6", "EV", "B6", "AA", "B6", "B6", "UA", "…
$ flight         <int> 1545, 1714, 1141, 725, 461, 1696, 507, 5708, 79, 301, 49, 71, 194, 1124, 707, 1…
$ tailnum        <chr> "N14228", "N24211", "N619AA", "N804JB", "N668DN", "N39463", "N516JB", "N829AS",…
$ origin         <chr> "EWR", "LGA", "JFK", "JFK", "LGA", "EWR", "EWR", "LGA", "JFK", "LGA", "JFK", "J…
$ dest           <chr> "IAH", "IAH", "MIA", "BQN", "ATL", "ORD", "FLL", "IAD", "MCO", "ORD", "PBI", "T…
$ air_time       <dbl> 227, 227, 160, 183, 116, 150, 158, 53, 140, 138, 149, 158, 345, 361, 257, 44, 3…
$ distance       <dbl> 1400, 1416, 1089, 1576, 762, 719, 1065, 229, 944, 733, 1028, 1005, 2475, 2565, …
$ hour           <dbl> 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6…
$ minute         <dbl> 15, 29, 40, 45, 0, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 59, 0, 0, 0, 0, 10, 5, 10, 10…
$ time_hour      <dttm> 2013-01-01 05:00:00, 2013-01-01 05:00:00, 2013-01-01 05:00:00, 2013-01-01 05:0…
Rows: 336,776
Columns: 19
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2…
$ month          <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ day            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ dep_time       <int> 517, 533, 542, 544, 554, 554, 555, 557, 557, 558, 558, 558, 558, 558, 559, 559,…
$ sched_dep_time <int> 515, 529, 540, 545, 600, 558, 600, 600, 600, 600, 600, 600, 600, 600, 600, 559,…
$ dep_delay      <dbl> 2, 4, 2, -1, -6, -4, -5, -3, -3, -2, -2, -2, -2, -2, -1, 0, -1, 0, 0, 1, -8, -3…
$ arr_time       <int> 830, 850, 923, 1004, 812, 740, 913, 709, 838, 753, 849, 853, 924, 923, 941, 702…
$ sched_arr_time <int> 819, 830, 850, 1022, 837, 728, 854, 723, 846, 745, 851, 856, 917, 937, 910, 706…
$ arr_delay      <dbl> 11, 20, 33, -18, -25, 12, 19, -14, -8, 8, -2, -3, 7, -14, 31, -4, -8, -7, 12, -…
$ carrier        <chr> "UA", "UA", "AA", "B6", "DL", "UA", "B6", "EV", "B6", "AA", "B6", "B6", "UA", "…
$ flight         <int> 1545, 1714, 1141, 725, 461, 1696, 507, 5708, 79, 301, 49, 71, 194, 1124, 707, 1…
$ tailnum        <chr> "N14228", "N24211", "N619AA", "N804JB", "N668DN", "N39463", "N516JB", "N829AS",…
$ origin         <chr> "EWR", "LGA", "JFK", "JFK", "LGA", "EWR", "EWR", "LGA", "JFK", "LGA", "JFK", "J…
$ dest           <chr> "IAH", "IAH", "MIA", "BQN", "ATL", "ORD", "FLL", "IAD", "MCO", "ORD", "PBI", "T…
$ air_time       <dbl> 227, 227, 160, 183, 116, 150, 158, 53, 140, 138, 149, 158, 345, 361, 257, 44, 3…
$ distance       <dbl> 1400, 1416, 1089, 1576, 762, 719, 1065, 229, 944, 733, 1028, 1005, 2475, 2565, …
$ hour           <dbl> 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6…
$ minute         <dbl> 15, 29, 40, 45, 0, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 59, 0, 0, 0, 0, 10, 5, 10, 10…
$ time_hour      <dttm> 2013-01-01 05:00:00, 2013-01-01 05:00:00, 2013-01-01 05:00:00, 2013-01-01 05:0…

#### `Filter()` function
_____

In [6]:
# destination of flight that are classify as "IAH"
flights |> filter(dest == "IAH") |> head(5)

# A tibble: 5 × 19
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
1  2013     1     1      517            515         2      830            819        11 UA        1545
2  2013     1     1      533            529         4      850            830        20 UA        1714
3  2013     1     1      623            627        -4      933            932         1 UA         496
4  2013     1     1      728            732        -4     1041           1038         3 UA         473
5  2013     1     1      739            739         0     1104           1038        26 UA        1479
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

In [7]:
flights |> filter(hour == 5) |> head(5)

# A tibble: 5 × 19
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
1  2013     1     1      517            515         2      830            819        11 UA        1545
2  2013     1     1      533            529         4      850            830        20 UA        1714
3  2013     1     1      542            540         2      923            850        33 AA        1141
4  2013     1     1      544            545        -1     1004           1022       -18 B6         725
5  2013     1     1      554            558        -4      740            728        12 UA        1696
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

In [8]:
# Flights that departed on January 1
flights |>
  filter(month == 1 & day == 1) |> head(5)

# A tibble: 5 × 19
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
1  2013     1     1      517            515         2      830            819        11 UA        1545
2  2013     1     1      533            529         4      850            830        20 UA        1714
3  2013     1     1      542            540         2      923            850        33 AA        1141
4  2013     1     1      544            545        -1     1004           1022       -18 B6         725
5  2013     1     1      554            600        -6      812            837       -25 DL         461
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

In [9]:
# Flights that departed in January or February
flights |>
  filter(month == 1 | month == 2) |> head(5)

# A tibble: 5 × 19
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
1  2013     1     1      517            515         2      830            819        11 UA        1545
2  2013     1     1      533            529         4      850            830        20 UA        1714
3  2013     1     1      542            540         2      923            850        33 AA        1141
4  2013     1     1      544            545        -1     1004           1022       -18 B6         725
5  2013     1     1      554            600        -6      812            837       -25 DL         461
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

In [10]:
flights |>
  filter(dest == "IAH" | dest == "JFK" | dest == "LAX") |> head(5)

# A tibble: 5 × 19
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
1  2013     1     1      517            515         2      830            819        11 UA        1545
2  2013     1     1      533            529         4      850            830        20 UA        1714
3  2013     1     1      558            600        -2      924            917         7 UA         194
4  2013     1     1      623            627        -4      933            932         1 UA         496
5  2013     1     1      628            630        -2     1016            947        29 UA        1665
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

In [11]:
flights |>
  filter(dest %in% c("IAH", "JFK", "LAX")) |> head(5)

# A tibble: 5 × 19
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
1  2013     1     1      517            515         2      830            819        11 UA        1545
2  2013     1     1      533            529         4      850            830        20 UA        1714
3  2013     1     1      558            600        -2      924            917         7 UA         194
4  2013     1     1      623            627        -4      933            932         1 UA         496
5  2013     1     1      628            630        -2     1016            947        29 UA        1665
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

In [12]:
flights |> filter(arr_delay %in% c(11, 7, 26)) |> head(5)

# A tibble: 5 × 19
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
1  2013     1     1      517            515         2      830            819        11 UA        1545
2  2013     1     1      558            600        -2      924            917         7 UA         194
3  2013     1     1      652            655        -3      932            921        11 B6         117
4  2013     1     1      727            730        -3      959            952         7 UA        1162
5  2013     1     1      739            739         0     1104           1038        26 UA        1479
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

#### `arrange()` function
_____

In [13]:
# arrange the data base on year, month, ..
flights |>
  arrange(year, month, day, dep_time) |> head(5)

# A tibble: 5 × 19
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
1  2013     1     1      517            515         2      830            819        11 UA        1545
2  2013     1     1      533            529         4      850            830        20 UA        1714
3  2013     1     1      542            540         2      923            850        33 AA        1141
4  2013     1     1      544            545        -1     1004           1022       -18 B6         725
5  2013     1     1      554            600        -6      812            837       -25 DL         461
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

In [14]:
# single columns (dep_delay) arrange from high to low
flights |>
  arrange(desc(dep_delay)) |> head()

# A tibble: 6 × 19
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
1  2013     1     9      641            900      1301     1242           1530      1272 HA          51
2  2013     6    15     1432           1935      1137     1607           2120      1127 MQ        3535
3  2013     1    10     1121           1635      1126     1239           1810      1109 MQ        3695
4  2013     9    20     1139           1845      1014     1457           2210      1007 AA         177
5  2013     7    22      845           1600      1005     1044           1815       989 MQ        3075
6  2013     4    10     1100           1900       960     1342           2211       931 DL        2391
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

In [15]:
# single columns arrange from high to low
flights |>
  arrange(desc(month)) |> head(10)

# A tibble: 10 × 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
 1  2013    12     1       13           2359        14      446            445         1 B6         745
 2  2013    12     1       17           2359        18      443            437         6 B6         839
 3  2013    12     1      453            500        -7      636            651       -15 US        1895
 4  2013    12     1      520            515         5      749            808       -19 UA        1487
 5  2013    12     1      536            540        -4      845            850        -5 AA        2243
 6  2013    12     1      540            550       -10     1005           1027       -22 B6         939
 7  2013    12     1      541            545        -4      734            755       -21 EV        3819
 8  2013    12     1      546            545         1      826            835        -9 UA        1441
 9  2013    12     1      549            600       -11      648            659       -11 US        2167
10  2013    12     1      550            600       -10      825            854       -29 B6         605
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

In [16]:
flights |>
  arrange(month) |> head(10)

# A tibble: 10 × 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
 1  2013     1     1      517            515         2      830            819        11 UA        1545
 2  2013     1     1      533            529         4      850            830        20 UA        1714
 3  2013     1     1      542            540         2      923            850        33 AA        1141
 4  2013     1     1      544            545        -1     1004           1022       -18 B6         725
 5  2013     1     1      554            600        -6      812            837       -25 DL         461
 6  2013     1     1      554            558        -4      740            728        12 UA        1696
 7  2013     1     1      555            600        -5      913            854        19 B6         507
 8  2013     1     1      557            600        -3      709            723       -14 EV        5708
 9  2013     1     1      557            600        -3      838            846        -8 B6          79
10  2013     1     1      558            600        -2      753            745         8 AA         301
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

#### `distinct()` function
_____

In [17]:
# Findint the uniqie values in the data
flights |> distinct() |> head()

# A tibble: 6 × 19
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
1  2013     1     1      517            515         2      830            819        11 UA        1545
2  2013     1     1      533            529         4      850            830        20 UA        1714
3  2013     1     1      542            540         2      923            850        33 AA        1141
4  2013     1     1      544            545        -1     1004           1022       -18 B6         725
5  2013     1     1      554            600        -6      812            837       -25 DL         461
6  2013     1     1      554            558        -4      740            728        12 UA        1696
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

In [18]:
 # Find unique rows in the entire dataset
flights |>
  distinct() |> head(10)

# A tibble: 10 × 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
 1  2013     1     1      517            515         2      830            819        11 UA        1545
 2  2013     1     1      533            529         4      850            830        20 UA        1714
 3  2013     1     1      542            540         2      923            850        33 AA        1141
 4  2013     1     1      544            545        -1     1004           1022       -18 B6         725
 5  2013     1     1      554            600        -6      812            837       -25 DL         461
 6  2013     1     1      554            558        -4      740            728        12 UA        1696
 7  2013     1     1      555            600        -5      913            854        19 B6         507
 8  2013     1     1      557            600        -3      709            723       -14 EV        5708
 9  2013     1     1      557            600        -3      838            846        -8 B6          79
10  2013     1     1      558            600        -2      753            745         8 AA         301
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

In [19]:
# Find all unique origin and destination pairs
flights |>
  distinct(origin, dest, carrier) |> head(10)

# A tibble: 10 × 3
   origin dest  carrier
   <chr>  <chr> <chr>
 1 EWR    IAH   UA
 2 LGA    IAH   UA
 3 JFK    MIA   AA
 4 JFK    BQN   B6
 5 LGA    ATL   DL
 6 EWR    ORD   UA
 7 EWR    FLL   B6
 8 LGA    IAD   EV
 9 JFK    MCO   B6
10 LGA    ORD   AA

In [20]:
# Example: Keep all columns while filtering for unique rows
flights |>
  distinct(origin, dest, carrier,.keep_all = TRUE) |> head(10)

# A tibble: 10 × 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
 1  2013     1     1      517            515         2      830            819        11 UA        1545
 2  2013     1     1      533            529         4      850            830        20 UA        1714
 3  2013     1     1      542            540         2      923            850        33 AA        1141
 4  2013     1     1      544            545        -1     1004           1022       -18 B6         725
 5  2013     1     1      554            600        -6      812            837       -25 DL         461
 6  2013     1     1      554            558        -4      740            728        12 UA        1696
 7  2013     1     1      555            600        -5      913            854        19 B6         507
 8  2013     1     1      557            600        -3      709            723       -14 EV        5708
 9  2013     1     1      557            600        -3      838            846        -8 B6          79
10  2013     1     1      558            600        -2      753            745         8 AA         301
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

In [21]:
# Count vs n_distinct
Nig_flights <- data.frame(
  date = c(
    "2023-01-01", "2023-01-01", "2023-01-02", "2023-01-02", "2023-01-01",
    "2023-01-03", "2023-01-03", "2023-01-04", "2023-01-05", "2023-01-05",
    "2023-01-06", "2023-01-06", "2023-01-07", "2023-01-07", "2023-01-08",
    "2023-01-08", "2023-01-09", "2023-01-10", "2023-01-10", "2023-01-11"
  ),
  flight_number = c(
    "AA101", "AA101", "BA202", "BA202", "AA101",
    "AA101", "DL303", "UA404", "AA101", "BA202",
    "DL303", "UA404", "AA101", "BA202", "DL303",
    "UA404", "AA101", "BA202", "DL303", "UA404"
  ),
  destination = c(
    "LAX", "LAX", "JFK", "JFK", "LAX",
    "LAX", "ORD", "MIA", "LAX", "JFK",
    "ORD", "MIA", "LAX", "JFK", "ORD",
    "MIA", "LAX", "JFK", "ORD", "MIA"
  )
)

Nig_flights

         date flight_number destination
1  2023-01-01         AA101         LAX
2  2023-01-01         AA101         LAX
3  2023-01-02         BA202         JFK
4  2023-01-02         BA202         JFK
5  2023-01-01         AA101         LAX
6  2023-01-03         AA101         LAX
7  2023-01-03         DL303         ORD
8  2023-01-04         UA404         MIA
9  2023-01-05         AA101         LAX
10 2023-01-05         BA202         JFK
11 2023-01-06         DL303         ORD
12 2023-01-06         UA404         MIA
13 2023-01-07         AA101         LAX
14 2023-01-07         BA202         JFK
15 2023-01-08         DL303         ORD
16 2023-01-08         UA404         MIA
17 2023-01-09         AA101         LAX
18 2023-01-10         BA202         JFK
19 2023-01-10         DL303         ORD
20 2023-01-11         UA404         MIA

In [22]:

# Find distinct flights based on date and flight_number
unique_flights <- Nig_flights |>
  distinct(date, flight_number)

print(unique_flights)

         date flight_number
1  2023-01-01         AA101
2  2023-01-02         BA202
3  2023-01-03         AA101
4  2023-01-03         DL303
5  2023-01-04         UA404
6  2023-01-05         AA101
7  2023-01-05         BA202
8  2023-01-06         DL303
9  2023-01-06         UA404
10 2023-01-07         AA101
11 2023-01-07         BA202
12 2023-01-08         DL303
13 2023-01-08         UA404
14 2023-01-09         AA101
15 2023-01-10         BA202
16 2023-01-10         DL303
17 2023-01-11         UA404
         date flight_number
1  2023-01-01         AA101
2  2023-01-02         BA202
3  2023-01-03         AA101
4  2023-01-03         DL303
5  2023-01-04         UA404
6  2023-01-05         AA101
7  2023-01-05         BA202
8  2023-01-06         DL303
9  2023-01-06         UA404
10 2023-01-07         AA101
11 2023-01-07         BA202
12 2023-01-08         DL303
13 2023-01-08         UA404
14 2023-01-09         AA101
15 2023-01-10         BA202
16 2023-01-10         DL303
17 2023-01-11         UA404

In [23]:
Nig_flights |>
  count(flight_number, date, sort = TRUE)

   flight_number       date n
1          AA101 2023-01-01 3
2          BA202 2023-01-02 2
3          AA101 2023-01-03 1
4          AA101 2023-01-05 1
5          AA101 2023-01-07 1
6          AA101 2023-01-09 1
7          BA202 2023-01-05 1
8          BA202 2023-01-07 1
9          BA202 2023-01-10 1
10         DL303 2023-01-03 1
11         DL303 2023-01-06 1
12         DL303 2023-01-08 1
13         DL303 2023-01-10 1
14         UA404 2023-01-04 1
15         UA404 2023-01-06 1
16         UA404 2023-01-08 1
17         UA404 2023-01-11 1

### Exercises
____

#### <font color = red> Question 1  </font>

In a single pipeline for each condition, find all flights that meet the condition:

- 1.1 Had an arrival delay of two or more hours
- 1.2 Flew to Houston (IAH or HOU)
- 1.3 Were operated by United, American, or Delta
- 1.4 Departed in summer (July, August, and September)
- 1.5 Arrived more than two hours late but didn’t leave late
- 1.6 Were delayed by at least an hour, but made up over 30 minutes in flight

#### <font color = blue> Solution 1.1  </font>
Since the arr_delay variable is measured in minutes, find flights with an arrival delay of 120 or more minutes.

In [24]:
# 1. Had an arrival delay of two or more hours
head(filter(flights, arr_delay >= 120))

# A tibble: 6 × 19
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
1  2013     1     1      811            630       101     1047            830       137 MQ        4576
2  2013     1     1      848           1835       853     1001           1950       851 MQ        3944
3  2013     1     1      957            733       144     1056            853       123 UA         856
4  2013     1     1     1114            900       134     1447           1222       145 UA        1086
5  2013     1     1     1505           1310       115     1638           1431       127 EV        4497
6  2013     1     1     1525           1340       105     1831           1626       125 B6         525
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

#### <font color = blue> Solution 1.2  </font>
The flights that flew to Houston are those flights where the destination (dest) is either “IAH” or “HOU”.

In [25]:
# 2. Flew to Houston (IAH or HOU)
flights |>
  filter(dest %in% c("IAH", "HOU")) |> head()

# A tibble: 6 × 19
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
1  2013     1     1      517            515         2      830            819        11 UA        1545
2  2013     1     1      533            529         4      850            830        20 UA        1714
3  2013     1     1      623            627        -4      933            932         1 UA         496
4  2013     1     1      728            732        -4     1041           1038         3 UA         473
5  2013     1     1      739            739         0     1104           1038        26 UA        1479
6  2013     1     1      908            908         0     1228           1219         9 UA        1220
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

#### <font color =blue> Solution 1.3  </font>
The flights that were operated by United, American, or Delta are those flights where the carrier (carrier) is either “UA”, “AA”, or “DL”.

In [26]:
# 3. Were operated by United, American, or Delta
flights |> filter(carrier %in% c("UA", "DL", "B6"))  |> head()

# A tibble: 6 × 19
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
1  2013     1     1      517            515         2      830            819        11 UA        1545
2  2013     1     1      533            529         4      850            830        20 UA        1714
3  2013     1     1      544            545        -1     1004           1022       -18 B6         725
4  2013     1     1      554            600        -6      812            837       -25 DL         461
5  2013     1     1      554            558        -4      740            728        12 UA        1696
6  2013     1     1      555            600        -5      913            854        19 B6         507
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

#### <font color =blue> Solution 1.4  </font>
The flights that departed in summer are those flights where the month (month) is either 7, 8, or 9.

In [27]:
# 4. Departed in summer (July, August, and September)

flights |>
  filter(month %in% c(7:9)) |> head()

# A tibble: 6 × 19
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
1  2013     7     1        1           2029       212      236           2359       157 B6         915
2  2013     7     1        2           2359         3      344            344         0 B6        1503
3  2013     7     1       29           2245       104      151              1       110 B6         234
4  2013     7     1       43           2130       193      322             14       188 B6        1371
5  2013     7     1       44           2150       174      300            100       120 AA         185
6  2013     7     1       46           2051       235      304           2358       186 B6         165
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

#### <font color =blue> Solution 1.5  </font>
The flights that arrived more than two hours late but didn’t leave late are those flights where the arrival delay (arr_delay) is greater than 120 minutes and the departure delay (dep_delay) is less than or equal to zero.

In [28]:
# 5. Arrived more than two hours late, but didn’t leave late
flights |>
  filter(arr_delay > 120 & dep_delay <= 0) |> head(10)

# A tibble: 10 × 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
 1  2013     1    27     1419           1420        -1     1754           1550       124 MQ        3728
 2  2013    10     7     1350           1350         0     1736           1526       130 EV        5181
 3  2013    10     7     1357           1359        -2     1858           1654       124 AA        1151
 4  2013    10    16      657            700        -3     1258           1056       122 B6           3
 5  2013    11     1      658            700        -2     1329           1015       194 VX         399
 6  2013     3    18     1844           1847        -3       39           2219       140 UA         389
 7  2013     4    17     1635           1640        -5     2049           1845       124 MQ        4540
 8  2013     4    18      558            600        -2     1149            850       179 AA         707
 9  2013     4    18      655            700        -5     1213            950       143 AA        2083
10  2013     5    22     1827           1830        -3     2217           2010       127 MQ        4674
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

#### <font color =blue> Solution 1.6  </font>
The flights that were delayed by at least an hour but made up over 30 minutes in flight are those flights where the departure delay (dep_delay) is greater than or equal to 60 minutes and the difference between the arrival delay (arr_delay) and the departure delay (dep_delay) is greater than 30 minutes.

In [29]:
# 6. Were delayed by at least an hour, but made up over 30 minutes in flight

flights |>
filter (dep_delay >=1 & air_time > 30 ) |>head()

# A tibble: 6 × 19
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
1  2013     1     1      517            515         2      830            819        11 UA        1545
2  2013     1     1      533            529         4      850            830        20 UA        1714
3  2013     1     1      542            540         2      923            850        33 AA        1141
4  2013     1     1      601            600         1      844            850        -6 B6         343
5  2013     1     1      608            600         8      807            735        32 MQ        3768
6  2013     1     1      611            600        11      945            931        14 UA         303
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

____

_____

#### <font color = red> Question 2  </font>
Sort flights to find the flights with the longest departure delays. Find the flights that left earliest in the morning.

#### <font color =blue> Solution   </font>

In [30]:
# Sort flights to find the flights with the longest departure delays
flights |>
  arrange(desc(dep_delay)) |>
  arrange(sched_dep_time) |>
  relocate(dep_delay, sched_dep_time)  |> head()

# A tibble: 6 × 19
  dep_delay sched_dep_time  year month   day dep_time arr_time sched_arr_time arr_delay carrier flight
      <dbl>          <int> <int> <int> <int>    <int>    <int>          <int>     <dbl> <chr>    <int>
1        NA            106  2013     7    27       NA       NA            245        NA US        1632
2       188            500  2013     4    24      808     1008            640       208 US        1431
3        61            500  2013     9    13      601      732            648        44 US        1877
4        47            500  2013     3     9      547      733            648        45 US        1843
5        44            500  2013     6     8      544      727            640        47 US        1431
6        29            500  2013     4    17      529      704            640        24 US        1431
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

_____

#### <font color = red> Question 3  </font>
Sort flights to find the fastest flights. (Hint: Try including a math calculation inside of your function.)

#### <font color =blue> Solution   </font>

In [31]:
# Sort the flights by speed (distance / air_time) without using mutate
fastest_flights <- flights  |>
  arrange(desc(distance / air_time))

# Display the sorted flights
head(fastest_flights)

# A tibble: 6 × 19
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
1  2013     5    25     1709           1700         9     1923           1937       -14 DL        1499
2  2013     7     2     1558           1513        45     1745           1719        26 EV        4667
3  2013     5    13     2040           2025        15     2225           2226        -1 EV        4292
4  2013     3    23     1914           1910         4     2045           2043         2 EV        3805
5  2013     1    12     1559           1600        -1     1849           1917       -28 DL        1902
6  2013    11    17      650            655        -5     1059           1150       -51 DL         315
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

#### <font color = red> Question 4  </font>
Was there a flight on every day of 2013?

#### <font color =blue> Solution   </font>

In [32]:
# arrange the data base on year, month, ..
flights |>
  filter(year == 2013) |>
  arrange(month, day)  |> head(5)

# A tibble: 5 × 19
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
1  2013     1     1      517            515         2      830            819        11 UA        1545
2  2013     1     1      533            529         4      850            830        20 UA        1714
3  2013     1     1      542            540         2      923            850        33 AA        1141
4  2013     1     1      544            545        -1     1004           1022       -18 B6         725
5  2013     1     1      554            600        -6      812            837       -25 DL         461
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

#### <font color = red> Question 5  </font>
Which flights traveled the farthest distance? Which traveled the least distance?

#### <font color =blue> Solution   </font>

In [33]:
{}

NULL

#### <font color = red> Question 6  </font>
Does it matter what order you used filter() and arrange() if you’re using both? Why/why not? Think about the results and how much work the functions would have to do.

#### <font color =blue> Solution   </font>

In [34]:
{}

NULL

### 3.3 Using Columns Function in dplyr’s
____

In [35]:
glimpse(flights)

Rows: 336,776
Columns: 19
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2…
$ month          <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ day            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ dep_time       <int> 517, 533, 542, 544, 554, 554, 555, 557, 557, 558, 558, 558, 558, 558, 559, 559,…
$ sched_dep_time <int> 515, 529, 540, 545, 600, 558, 600, 600, 600, 600, 600, 600, 600, 600, 600, 559,…
$ dep_delay      <dbl> 2, 4, 2, -1, -6, -4, -5, -3, -3, -2, -2, -2, -2, -2, -1, 0, -1, 0, 0, 1, -8, -3…
$ arr_time       <int> 830, 850, 923, 1004, 812, 740, 913, 709, 838, 753, 849, 853, 924, 923, 941, 702…
$ sched_arr_time <int> 819, 830, 850, 1022, 837, 728, 854, 723, 846, 745, 851, 856, 917, 937, 910, 706…
$ arr_delay      <dbl> 11, 20, 33, -18, -25, 12, 19, -14, -8, 8, -2, -3, 7, -14, 31, -4, -8, -7, 12, -…
$ carrier        <chr> "UA", "UA", "AA", "B6", "DL", "UA", "B6", "EV", "B6", "AA", "B6", "B6", "UA", "…
$ flight         <int> 1545, 1714, 1141, 725, 461, 1696, 507, 5708, 79, 301, 49, 71, 194, 1124, 707, 1…
$ tailnum        <chr> "N14228", "N24211", "N619AA", "N804JB", "N668DN", "N39463", "N516JB", "N829AS",…
$ origin         <chr> "EWR", "LGA", "JFK", "JFK", "LGA", "EWR", "EWR", "LGA", "JFK", "LGA", "JFK", "J…
$ dest           <chr> "IAH", "IAH", "MIA", "BQN", "ATL", "ORD", "FLL", "IAD", "MCO", "ORD", "PBI", "T…
$ air_time       <dbl> 227, 227, 160, 183, 116, 150, 158, 53, 140, 138, 149, 158, 345, 361, 257, 44, 3…
$ distance       <dbl> 1400, 1416, 1089, 1576, 762, 719, 1065, 229, 944, 733, 1028, 1005, 2475, 2565, …
$ hour           <dbl> 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6…
$ minute         <dbl> 15, 29, 40, 45, 0, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 59, 0, 0, 0, 0, 10, 5, 10, 10…
$ time_hour      <dttm> 2013-01-01 05:00:00, 2013-01-01 05:00:00, 2013-01-01 05:00:00, 2013-01-01 05:0…
Rows: 336,776
Columns: 19
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2…
$ month          <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ day            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ dep_time       <int> 517, 533, 542, 544, 554, 554, 555, 557, 557, 558, 558, 558, 558, 558, 559, 559,…
$ sched_dep_time <int> 515, 529, 540, 545, 600, 558, 600, 600, 600, 600, 600, 600, 600, 600, 600, 559,…
$ dep_delay      <dbl> 2, 4, 2, -1, -6, -4, -5, -3, -3, -2, -2, -2, -2, -2, -1, 0, -1, 0, 0, 1, -8, -3…
$ arr_time       <int> 830, 850, 923, 1004, 812, 740, 913, 709, 838, 753, 849, 853, 924, 923, 941, 702…
$ sched_arr_time <int> 819, 830, 850, 1022, 837, 728, 854, 723, 846, 745, 851, 856, 917, 937, 910, 706…
$ arr_delay      <dbl> 11, 20, 33, -18, -25, 12, 19, -14, -8, 8, -2, -3, 7, -14, 31, -4, -8, -7, 12, -…
$ carrier        <chr> "UA", "UA", "AA", "B6", "DL", "UA", "B6", "EV", "B6", "AA", "B6", "B6", "UA", "…
$ flight         <int> 1545, 1714, 1141, 725, 461, 1696, 507, 5708, 79, 301, 49, 71, 194, 1124, 707, 1…
$ tailnum        <chr> "N14228", "N24211", "N619AA", "N804JB", "N668DN", "N39463", "N516JB", "N829AS",…
$ origin         <chr> "EWR", "LGA", "JFK", "JFK", "LGA", "EWR", "EWR", "LGA", "JFK", "LGA", "JFK", "J…
$ dest           <chr> "IAH", "IAH", "MIA", "BQN", "ATL", "ORD", "FLL", "IAD", "MCO", "ORD", "PBI", "T…
$ air_time       <dbl> 227, 227, 160, 183, 116, 150, 158, 53, 140, 138, 149, 158, 345, 361, 257, 44, 3…
$ distance       <dbl> 1400, 1416, 1089, 1576, 762, 719, 1065, 229, 944, 733, 1028, 1005, 2475, 2565, …
$ hour           <dbl> 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6…
$ minute         <dbl> 15, 29, 40, 45, 0, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 59, 0, 0, 0, 0, 10, 5, 10, 10…
$ time_hour      <dttm> 2013-01-01 05:00:00, 2013-01-01 05:00:00, 2013-01-01 05:00:00, 2013-01-01 05:0…

#### `Mutate()` function
____

In [36]:
flights |>
  mutate(
    gain = dep_delay - arr_delay,
    speed = distance / air_time * 60
  )|>head()

# A tibble: 6 × 21
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
1  2013     1     1      517            515         2      830            819        11 UA        1545
2  2013     1     1      533            529         4      850            830        20 UA        1714
3  2013     1     1      542            540         2      923            850        33 AA        1141
4  2013     1     1      544            545        -1     1004           1022       -18 B6         725
5  2013     1     1      554            600        -6      812            837       -25 DL         461
6  2013     1     1      554            558        -4      740            728        12 UA        1696
# ℹ 10 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>, gain <dbl>, speed <dbl>

In [37]:
flights |>
  mutate(
    gain = dep_delay - arr_delay,
    speed = distance / air_time * 60,
    .before = 1
  ) |> head()

# A tibble: 6 × 21
   gain speed  year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay
  <dbl> <dbl> <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl>
1    -9  370.  2013     1     1      517            515         2      830            819        11
2   -16  374.  2013     1     1      533            529         4      850            830        20
3   -31  408.  2013     1     1      542            540         2      923            850        33
4    17  517.  2013     1     1      544            545        -1     1004           1022       -18
5    19  394.  2013     1     1      554            600        -6      812            837       -25
6   -16  288.  2013     1     1      554            558        -4      740            728        12
# ℹ 10 more variables: carrier <chr>, flight <int>, tailnum <chr>, origin <chr>, dest <chr>,
#   air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>, time_hour <dttm>

In [38]:
flights |>
    mutate(
        double = dep_delay*2,
        speed_double = distance * 60
    ) |> head()

# A tibble: 6 × 21
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
1  2013     1     1      517            515         2      830            819        11 UA        1545
2  2013     1     1      533            529         4      850            830        20 UA        1714
3  2013     1     1      542            540         2      923            850        33 AA        1141
4  2013     1     1      544            545        -1     1004           1022       -18 B6         725
5  2013     1     1      554            600        -6      812            837       -25 DL         461
6  2013     1     1      554            558        -4      740            728        12 UA        1696
# ℹ 10 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>, double <dbl>, speed_double <dbl>

In [39]:
flights |>
  mutate(
    gain = dep_delay - arr_delay,
    hours = air_time / 60,
    gain_per_hour = gain / hours,
    .keep = "used"
  ) |> head()

# A tibble: 6 × 6
  dep_delay arr_delay air_time  gain hours gain_per_hour
      <dbl>     <dbl>    <dbl> <dbl> <dbl>         <dbl>
1         2        11      227    -9  3.78         -2.38
2         4        20      227   -16  3.78         -4.23
3         2        33      160   -31  2.67        -11.6
4        -1       -18      183    17  3.05          5.57
5        -6       -25      116    19  1.93          9.83
6        -4        12      150   -16  2.5          -6.4

#### `Select()` function
____

In [40]:
flights |>
  select(year, month, day, air_time, arr_delay) |> head()

# A tibble: 6 × 5
   year month   day air_time arr_delay
  <int> <int> <int>    <dbl>     <dbl>
1  2013     1     1      227        11
2  2013     1     1      227        20
3  2013     1     1      160        33
4  2013     1     1      183       -18
5  2013     1     1      116       -25
6  2013     1     1      150        12

In [41]:
flights |>
  select(year:day) |> head()

# A tibble: 6 × 3
   year month   day
  <int> <int> <int>
1  2013     1     1
2  2013     1     1
3  2013     1     1
4  2013     1     1
5  2013     1     1
6  2013     1     1

In [42]:
flights |>
  select(!year:day) |> head()

# A tibble: 6 × 16
  dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight tailnum origin
     <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int> <chr>   <chr>
1      517            515         2      830            819        11 UA        1545 N14228  EWR
2      533            529         4      850            830        20 UA        1714 N24211  LGA
3      542            540         2      923            850        33 AA        1141 N619AA  JFK
4      544            545        -1     1004           1022       -18 B6         725 N804JB  JFK
5      554            600        -6      812            837       -25 DL         461 N668DN  LGA
6      554            558        -4      740            728        12 UA        1696 N39463  EWR
# ℹ 6 more variables: dest <chr>, air_time <dbl>, distance <dbl>, hour <dbl>, minute <dbl>,
#   time_hour <dttm>

In [43]:
flights |>
  select(where(is.character)) |> head()

# A tibble: 6 × 4
  carrier tailnum origin dest
  <chr>   <chr>   <chr>  <chr>
1 UA      N14228  EWR    IAH
2 UA      N24211  LGA    IAH
3 AA      N619AA  JFK    MIA
4 B6      N804JB  JFK    BQN
5 DL      N668DN  LGA    ATL
6 UA      N39463  EWR    ORD

In [44]:
flights |>
  select(starts_with("dep"))  %>% head()

# A tibble: 6 × 2
  dep_time dep_delay
     <int>     <dbl>
1      517         2
2      533         4
3      542         2
4      544        -1
5      554        -6
6      554        -4

In [45]:
flights |>
  select(where(is.numeric)) |> head()

# A tibble: 6 × 14
   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay flight air_time
  <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl>  <int>    <dbl>
1  2013     1     1      517            515         2      830            819        11   1545      227
2  2013     1     1      533            529         4      850            830        20   1714      227
3  2013     1     1      542            540         2      923            850        33   1141      160
4  2013     1     1      544            545        -1     1004           1022       -18    725      183
5  2013     1     1      554            600        -6      812            837       -25    461      116
6  2013     1     1      554            558        -4      740            728        12   1696      150
# ℹ 3 more variables: distance <dbl>, hour <dbl>, minute <dbl>

In [46]:
flights |>
  select(tail_num = tailnum)  %>% head()

# A tibble: 6 × 1
  tail_num
  <chr>
1 N14228
2 N24211
3 N619AA
4 N804JB
5 N668DN
6 N39463

In [47]:
flights %>%
  select(tail_num = tailnum) |> head()

# A tibble: 6 × 1
  tail_num
  <chr>
1 N14228
2 N24211
3 N619AA
4 N804JB
5 N668DN
6 N39463

### 3.5 Group Function in dplyr’s
____

#### 3.5.1 `group_by()`

In [48]:
flights %>%
group_by(carrier)  %>% head(10)

# A tibble: 10 × 19
# Groups:   carrier [5]
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
 1  2013     1     1      517            515         2      830            819        11 UA        1545
 2  2013     1     1      533            529         4      850            830        20 UA        1714
 3  2013     1     1      542            540         2      923            850        33 AA        1141
 4  2013     1     1      544            545        -1     1004           1022       -18 B6         725
 5  2013     1     1      554            600        -6      812            837       -25 DL         461
 6  2013     1     1      554            558        -4      740            728        12 UA        1696
 7  2013     1     1      555            600        -5      913            854        19 B6         507
 8  2013     1     1      557            600        -3      709            723       -14 EV        5708
 9  2013     1     1      557            600        -3      838            846        -8 B6          79
10  2013     1     1      558            600        -2      753            745         8 AA         301
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

#### 3.5.2 `summarize()`

In [49]:
flights  %>%
  group_by(month)  %>%
  summarize(
    avg_detail = mean(dep_time)
    )

# A tibble: 12 × 2
   month avg_detail
   <int>      <dbl>
 1     1         NA
 2     2         NA
 3     3         NA
 4     4         NA
 5     5         NA
 6     6         NA
 7     7         NA
 8     8         NA
 9     9         NA
10    10         NA
11    11         NA
12    12         NA

In [50]:
flights  %>%
  group_by(month)  %>%
  summarize(
    avg_detail = mean(dep_time, na.rm=TRUE)
    )

# A tibble: 12 × 2
   month avg_detail
   <int>      <dbl>
 1     1      1347.
 2     2      1348.
 3     3      1359.
 4     4      1353.
 5     5      1351.
 6     6      1351.
 7     7      1353.
 8     8      1350.
 9     9      1334.
10    10      1340.
11    11      1344.
12    12      1357.

In [51]:
flights |>
  group_by(month) |>
  summarize(
    avg_delay = mean(dep_delay, na.rm = TRUE),
    n = n()
  )
# Output
# # A tibble: 12 × 3
#   month avg_delay     n
#   <int>     <dbl> <int>
# 1     1      10.0 27004
# 2     2      10.8 24951
# 3     3      13.2 28834
# 4     4      13.9 28330
# 5     5      13.0 28796
# 6     6      20.8 28243
# # ℹ 6 more rows

# A tibble: 12 × 3
   month avg_delay     n
   <int>     <dbl> <int>
 1     1     10.0  27004
 2     2     10.8  24951
 3     3     13.2  28834
 4     4     13.9  28330
 5     5     13.0  28796
 6     6     20.8  28243
 7     7     21.7  29425
 8     8     12.6  29327
 9     9      6.72 27574
10    10      6.24 28889
11    11      5.44 27268
12    12     16.6  28135

In [52]:
flights

# A tibble: 336,776 × 19
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
 1  2013     1     1      517            515         2      830            819        11 UA        1545
 2  2013     1     1      533            529         4      850            830        20 UA        1714
 3  2013     1     1      542            540         2      923            850        33 AA        1141
 4  2013     1     1      544            545        -1     1004           1022       -18 B6         725
 5  2013     1     1      554            600        -6      812            837       -25 DL         461
 6  2013     1     1      554            558        -4      740            728        12 UA        1696
 7  2013     1     1      555            600        -5      913            854        19 B6         507
 8  2013     1     1      557            600        -3      709            723       -14 EV        5708
 9  2013     1     1      557            600        -3      838            846        -8 B6          79
10  2013     1     1      558            600        -2      753            745         8 AA         301
# ℹ 336,766 more rows
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>
# ℹ Use `print(n = ...)` to see more rows

In [53]:
flights |>
  group_by(carrier, dest) |>
  summarise(
    average = mean(sched_arr_time), n =n()
  )

`summarise()` has grouped output by 'carrier'. You can override using the `.groups` argument.
`summarise()` has grouped output by 'carrier'. You can override using the `.groups` argument.

# A tibble: 314 × 4
# Groups:   carrier [16]
   carrier dest  average     n
   <chr>   <chr>   <dbl> <int>
 1 9E      ATL      876.    59
 2 9E      AUS     2029      2
 3 9E      AVL     1195.    10
 4 9E      BGR     2327      1
 5 9E      BNA     1729.   474
 6 9E      BOS     1480.   914
 7 9E      BTV     1324.     2
 8 9E      BUF     1607.   833
 9 9E      BWI     1695.   856
10 9E      CAE     1172.     3
# ℹ 304 more rows
# ℹ Use `print(n = ...)` to see more rows

#### 3.5.3 The `slice_` functions

In [54]:
# Take the first flight for each destination
flights |>
  group_by(dest) |>
  slice_head(n = 1)

# A tibble: 105 × 19
# Groups:   dest [105]
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
 1  2013    10     1     1955           2001        -6     2213           2248       -35 B6          65
 2  2013    10     1     1149           1159       -10     1245           1259       -14 B6        1191
 3  2013     1     1     1315           1317        -2     1413           1423       -10 EV        4112
 4  2013     7     6     1629           1615        14     1954           1953         1 UA         887
 5  2013     1     1      554            600        -6      812            837       -25 DL         461
 6  2013     1     1      905            905         0     1309           1229        40 B6        1061
 7  2013     1     1      946            959       -13     1146           1202       -16 EV        4175
 8  2013     1     1     1318           1322        -4     1358           1416       -18 EV        4106
 9  2013    10     1     1338           1105       153     1446           1245       121 EV        5309
10  2013     1     2     2044           2005        39     2229           2158        31 EV        5114
# ℹ 95 more rows
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>
# ℹ Use `print(n = ...)` to see more rows

In [55]:
# Take the last flight for each destination
flights |>
  group_by(dest) |>
  slice_tail(n = 1)

# A tibble: 105 × 19
# Groups:   dest [105]
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
 1  2013     9    30     1959           2001        -2     2209           2248       -39 B6          65
 2  2013     9    30     1156           1159        -3     1253           1259        -6 B6        1191
 3  2013     9    24     2151           2159        -8     2240           2303       -23 EV        6043
 4  2013     8    24     1633           1625         8     1959           2003        -4 UA         887
 5  2013     9    30     2053           1815       158     2310           2054       136 EV        5292
 6  2013     9    30     2052           2054        -2     2306           2358       -52 B6        1295
 7  2013     9    30     1641           1638         3     1833           1829         4 EV        4175
 8  2013     9    28      741            738         3      823            835       -12 EV        3847
 9  2013     9    30     2203           2205        -2     2339           2331         8 EV        5311
10  2013     9    30     1939           1950       -11     2112           2141       -29 EV        5038
# ℹ 95 more rows
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>
# ℹ Use `print(n = ...)` to see more rows

In [56]:
# Select the flight with the smallest departure delay for each destination
flights |>
  group_by(dest) |>
  slice_min(dep_delay, n = 1)

# A tibble: 139 × 19
# Groups:   dest [105]
    year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
   <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>    <int>
 1  2013    11    20     1948           2000       -12     2236           2303       -27 B6          65
 2  2013     9    10     1949           2001       -12     2225           2248       -23 B6          65
 3  2013    10     9     1147           1200       -13     1304           1300         4 B6        1191
 4  2013     9    28     1146           1159       -13     1245           1259       -14 B6        1191
 5  2013     9    16     2145           2159       -14     2233           2303       -30 EV        4264
 6  2013     8    10     1613           1615        -2     1922           1953       -31 UA         887
 7  2013    12    25     2036           2059       -23     2313           2314        -1 MQ        3473
 8  2013    10     1      846            900       -14     1122           1158       -36 B6         795
 9  2013     1     1      946            959       -13     1146           1202       -16 EV        4175
10  2013     8    14     1133           1148       -15     1206           1249       -43 EV        4583
# ℹ 129 more rows
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>
# ℹ Use `print(n = ...)` to see more rows

In [57]:
flights |>
  group_by(dest) |>
  slice_max(arr_delay, n = 1) |>
  relocate(dest)

# A tibble: 108 × 19
# Groups:   dest [105]
   dest   year month   day dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier
   <chr> <int> <int> <int>    <int>          <int>     <dbl>    <int>          <int>     <dbl> <chr>
 1 ABQ    2013     7    22     2145           2007        98      132           2259       153 B6
 2 ACK    2013     7    23     1139            800       219     1250            909       221 B6
 3 ALB    2013     1    25      123           2000       323      229           2101       328 EV
 4 ANC    2013     8    17     1740           1625        75     2042           2003        39 UA
 5 ATL    2013     7    22     2257            759       898      121           1026       895 DL
 6 AUS    2013     7    10     2056           1505       351     2347           1758       349 UA
 7 AVL    2013     8    13     1156            832       204     1417           1029       228 EV
 8 BDL    2013     2    21     1728           1316       252     1839           1413       266 EV
 9 BGR    2013    12     1     1504           1056       248     1628           1230       238 EV
10 BHM    2013     4    10       25           1900       325      136           2045       291 EV
# ℹ 98 more rows
# ℹ 8 more variables: flight <int>, tailnum <chr>, origin <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>
# ℹ Use `print(n = ...)` to see more rows

#### 3.5.4 Grouping by multiple variables

In [58]:
# Grouping the flights by year, month, and day
daily <- flights |>
  group_by(year, month, day) |>
relocate(arr_time)

daily

# A tibble: 336,776 × 19
# Groups:   year, month, day [365]
   arr_time  year month   day dep_time sched_dep_time dep_delay sched_arr_time arr_delay carrier flight
      <int> <int> <int> <int>    <int>          <int>     <dbl>          <int>     <dbl> <chr>    <int>
 1      830  2013     1     1      517            515         2            819        11 UA        1545
 2      850  2013     1     1      533            529         4            830        20 UA        1714
 3      923  2013     1     1      542            540         2            850        33 AA        1141
 4     1004  2013     1     1      544            545        -1           1022       -18 B6         725
 5      812  2013     1     1      554            600        -6            837       -25 DL         461
 6      740  2013     1     1      554            558        -4            728        12 UA        1696
 7      913  2013     1     1      555            600        -5            854        19 B6         507
 8      709  2013     1     1      557            600        -3            723       -14 EV        5708
 9      838  2013     1     1      557            600        -3            846        -8 B6          79
10      753  2013     1     1      558            600        -2            745         8 AA         301
# ℹ 336,766 more rows
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>
# ℹ Use `print(n = ...)` to see more rows

In [59]:
# summarising the grouping
daily |> summarise(insight = mean(sched_dep_time))

`summarise()` has grouped output by 'year', 'month'. You can override using the `.groups` argument.
`summarise()` has grouped output by 'year', 'month'. You can override using the `.groups` argument.

# A tibble: 365 × 4
# Groups:   year, month [12]
    year month   day insight
   <int> <int> <int>   <dbl>
 1  2013     1     1   1372.
 2  2013     1     2   1341.
 3  2013     1     3   1344.
 4  2013     1     4   1341.
 5  2013     1     5   1326.
 6  2013     1     6   1393.
 7  2013     1     7   1337.
 8  2013     1     8   1334.
 9  2013     1     9   1335.
10  2013     1    10   1339.
# ℹ 355 more rows
# ℹ Use `print(n = ...)` to see more rows

In [60]:
daily |> summarise(n=n(),  insight = mean(sched_dep_time)) |> head()

`summarise()` has grouped output by 'year', 'month'. You can override using the `.groups` argument.
`summarise()` has grouped output by 'year', 'month'. You can override using the `.groups` argument.

# A tibble: 6 × 5
# Groups:   year, month [1]
   year month   day     n insight
  <int> <int> <int> <int>   <dbl>
1  2013     1     1   842   1372.
2  2013     1     2   943   1341.
3  2013     1     3   914   1344.
4  2013     1     4   915   1341.
5  2013     1     5   720   1326.
6  2013     1     6   832   1393.

In [61]:
# Summarize with the default "drop_last" behavior
daily_flights <- daily |>
  summarize(
    n = n(),
    .groups = "drop_last"
  )

daily_flights

# A tibble: 365 × 4
# Groups:   year, month [12]
    year month   day     n
   <int> <int> <int> <int>
 1  2013     1     1   842
 2  2013     1     2   943
 3  2013     1     3   914
 4  2013     1     4   915
 5  2013     1     5   720
 6  2013     1     6   832
 7  2013     1     7   933
 8  2013     1     8   899
 9  2013     1     9   902
10  2013     1    10   932
# ℹ 355 more rows
# ℹ Use `print(n = ...)` to see more rows

In [62]:
# Summarize and drop all grouping
daily_flights1 <- daily |>
  summarize(
    n = n(),
    .groups = "drop"
  )

daily_flights1

# A tibble: 365 × 4
    year month   day     n
   <int> <int> <int> <int>
 1  2013     1     1   842
 2  2013     1     2   943
 3  2013     1     3   914
 4  2013     1     4   915
 5  2013     1     5   720
 6  2013     1     6   832
 7  2013     1     7   933
 8  2013     1     8   899
 9  2013     1     9   902
10  2013     1    10   932
# ℹ 355 more rows
# ℹ Use `print(n = ...)` to see more rows

#### Ungrouping the data

In [63]:
#  ungroup the data
daily |>
ungroup()  |> head()

# A tibble: 6 × 19
  arr_time  year month   day dep_time sched_dep_time dep_delay sched_arr_time arr_delay carrier flight
     <int> <int> <int> <int>    <int>          <int>     <dbl>          <int>     <dbl> <chr>    <int>
1      830  2013     1     1      517            515         2            819        11 UA        1545
2      850  2013     1     1      533            529         4            830        20 UA        1714
3      923  2013     1     1      542            540         2            850        33 AA        1141
4     1004  2013     1     1      544            545        -1           1022       -18 B6         725
5      812  2013     1     1      554            600        -6            837       -25 DL         461
6      740  2013     1     1      554            558        -4            728        12 UA        1696
# ℹ 8 more variables: tailnum <chr>, origin <chr>, dest <chr>, air_time <dbl>, distance <dbl>,
#   hour <dbl>, minute <dbl>, time_hour <dttm>

In [65]:
# summarise the ungroup data
daily |>
  ungroup() |>
  summarise (
    avg_delay = mean(dep_delay, na.rm = TRUE),
    flight = n()
  )

# A tibble: 1 × 2
  avg_delay flight
      <dbl>  <int>
1      12.6 336776

#### Group using `.by`

In [66]:
flights |>
  summarize(
    delay = mean(dep_delay, na.rm = TRUE),
    n = n(),
    .by = month
  )

# A tibble: 12 × 3
   month delay     n
   <int> <dbl> <int>
 1     1 10.0  27004
 2    10  6.24 28889
 3    11  5.44 27268
 4    12 16.6  28135
 5     2 10.8  24951
 6     3 13.2  28834
 7     4 13.9  28330
 8     5 13.0  28796
 9     6 20.8  28243
10     7 21.7  29425
11     8 12.6  29327
12     9  6.72 27574

In [67]:
flights |>
  summarize(
    delay = mean(dep_delay, na.rm = TRUE),
    n = n(),
    .by = c(origin, dest)
  )

# A tibble: 224 × 4
   origin dest  delay     n
   <chr>  <chr> <dbl> <int>
 1 EWR    IAH   11.8   3973
 2 LGA    IAH    9.06  2951
 3 JFK    MIA    9.34  3314
 4 JFK    BQN    6.67   599
 5 LGA    ATL   11.4  10263
 6 EWR    ORD   14.6   6100
 7 EWR    FLL   13.5   3793
 8 LGA    IAD   16.7   1803
 9 JFK    MCO   10.6   5464
10 LGA    ORD   10.7   8857
# ℹ 214 more rows
# ℹ Use `print(n = ...)` to see more rows

In [68]:

# Without .by
flights |>
  group_by(month) |>
  summarize(delay = mean(dep_delay, na.rm = TRUE), n = n()) |>
  ungroup()

# A tibble: 12 × 3
   month delay     n
   <int> <dbl> <int>
 1     1 10.0  27004
 2     2 10.8  24951
 3     3 13.2  28834
 4     4 13.9  28330
 5     5 13.0  28796
 6     6 20.8  28243
 7     7 21.7  29425
 8     8 12.6  29327
 9     9  6.72 27574
10    10  6.24 28889
11    11  5.44 27268
12    12 16.6  28135

In [69]:

# Without .by
flights |>
  group_by(month) |>
  summarize(delay = mean(dep_delay, na.rm = TRUE), n = n())

# A tibble: 12 × 3
   month delay     n
   <int> <dbl> <int>
 1     1 10.0  27004
 2     2 10.8  24951
 3     3 13.2  28834
 4     4 13.9  28330
 5     5 13.0  28796
 6     6 20.8  28243
 7     7 21.7  29425
 8     8 12.6  29327
 9     9  6.72 27574
10    10  6.24 28889
11    11  5.44 27268
12    12 16.6  28135

# CHAPTE 4:Workflow: code style

In [5]:
flights |> 
    filter (dest=="IAH") |>
    group_by(year,month,day)|>
    summarize(
        n=n(), 
        delay=mean(arr_delay,na.rm=TRUE))|>
    filter(n>10)   |> head()

`summarise()` has grouped output by 'year', 'month'. You can override using the
`.groups` argument.

  year month day n  delay
1 2013 1     1   20 17.850000
2 2013 1     2   20  7.000000
3 2013 1     3   19 18.315789
4 2013 1     4   20 -3.200000
5 2013 1     5   13 20.230769
6 2013 1     6   18  9.277778

In [7]:
flights|> 
    filter(carrier=="UA",
           dest%in%c("IAH","HOU"),
           sched_dep_time > 0900,
           sched_arr_time<2000)|>
    group_by(flight)|>
    summarize(delay=mean(
                        arr_delay,na.rm=TRUE),
              cancelled=sum(is.na(arr_delay)),
              n=n())|>
    filter(n>10) |> head()

  flight delay     cancelled n
1  53    12.500000 2         18
2 112    14.142857 0         14
3 205    -1.714286 0         14
4 235    -5.357143 0         14
5 255    -9.466667 0         15
6 268    38.642857 1         15